<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="../css/css.css"></link>
<head>
<meta charset="UTF-8">
<title>TaskManager</title>
</head>
<body>
	<h1 th:text="'Welcome, '+ ${user.firstName} + '!'"></h1>

	<a href="/projects">My Projects</a>


	<a href="/projects/add">Create New Project</a>


	<a href="/sharedProjects">Shared with me</a>


	<a href="/users/me">Profile</a>


	<a href="/logout">logout</a>

</body>
</html>